{% extends "layout/base.html" %}

{% block title %}Simple listing{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Trabajo Laboratorio Tecnologia Cliente Servidor</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4">
            <h4>Integrantes :</h4>
        </div>
        <div class="col">
            <ul class="list-group mt-4">
                <li class="list-group-item">Caiguaray Cotrina, Luis Fernando</li>
                <li class="list-group-item">Castillo Campos, Johnny Stuar</li>
                <li class="list-group-item">Garcia Horna, Francisco Alejandro</li>
                <li class="list-group-item">Guevara Segura, Jair Erinson</li>
                <li class="list-group-item">Ortiz Noriega, Keyly Ortiz</li>
                <li class="list-group-item">Reyes Julca, Christian Steven</li>
                <li class="list-group-item">Vera Paredes, Tania Maribel</li>
                <li class="list-group-item">Puelles Caldas, Miuler</li>
            </ul>
        </div>

    </div>
</div>


{% endblock %}