{% extends "layout/base.html" %}

{% block title %}Simple listing{% endblock %}

{% block content %}
<div class="container">

    <form action="/listing/cronograma" method="post">
        {% csrf_token %}
        <div class="row mb-5 ">
            <div class="col">
                <h2>Generacion de cronograma</h2>
            </div>
        </div>
        {% for field in form %}
        {% if field.auto_id == 'id_tipoDocumento' %}
        <div class="mb-3  row">
            <label class="col-sm-2 col-form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            <div class="col-sm-10">
                {% for sfield in field %}
                <div class="form-check form-check-inline">
                    {{ sfield }}
                </div>

                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="mb-3  row">
            <label class="
                col-sm-2 
                col-form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            <div class="col-sm-10">

                {{ field }}
            </div>

        </div>
        {% endif %}
        {% endfor %}
        <button type="submit" class="btn btn-success mt-4">Buscar</button>
    </form>
</div>
<div class="container">
    {% if resultados %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nro Cuotas</th>
                <th scope="col">Fecha Vencimiento</th>
                <th scope="col">Importe</th>
                <th scope="col">Igv de Interes</th>
                <th scope="col">Valor Cuota</th>
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados %}
            <tr>
                {% for res in resultado %}
                <td>{{res }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endif%}
{% endblock %}