{% extends "layout/base.html" %}

{% block title %}Simple listing{% endblock %}

{% block content %}
<div class="container">

    <form action="/listing/" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col">
                <h2>Busqueda por nombre y RUC</h2>
            </div>
            <div class="col">
                <a class="btn btn-primary" href="/listing/create">Agregar</a>
            </div>
        </div>
        {% for field in form %}
        <div class="mb-3 pt-5 row">
            <label class="
                col-sm-2 
                col-form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
            <div class="col-sm-10">
                {{ field }}
            </div>

        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success">Buscar</button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Cliente</th>
            <th scope="col">Zona</th>
            <th scope="col">Nombre</th>
            <th scope="col">RUC</th>
            <th scope="col">Direccion</th>
            <th scope="col">Credito</th>
            <th scope="col">TipoCliente</th>
        </tr>
    </thead>
    <tbody>
        {% if resultados %}
        {% for resultado in resultados %}

        <tr>

            {% for res in resultado %}
            <td>{{res }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
        {% endif%}
    </tbody>
</table>
{% endblock %}